{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">


    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/smart_wizard.css' %}">
    <link rel="stylesheet" href="{% static 'css/smart_wizard_vertical.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Knob</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Knob V1.0</a>
        </div>

    </nav>

    <div id="page-wrapper" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {% if workers_count %}
            <div class="row">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa fa-wrench fa-5x"></i></div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{workers_count}}</div>
                                <div>Running workers!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div id="wizard" class="swMain">
                    <ul>
                        <li><a href="#step-1">
                            <label class="stepNumber">1</label>
                  <span class="stepDesc">
                     Step 1<br/>
                     <small>Select Manufacturer</small>
                  </span>
                        </a></li>
                        <li><a href="#step-2">
                            <label class="stepNumber">2</label>
                  <span class="stepDesc">
                     Step 2<br/>
                     <small>Select destinations</small>
                  </span>
                        </a></li>
                        <li><a href="#step-3">
                            <label class="stepNumber">3</label>
                  <span class="stepDesc">
                     Step 3<br/>
                     <small>Commands</small>
                  </span>
                        </a></li>
                        <li><a href="#step-4">
                            <label class="stepNumber">4</label>
                  <span class="stepDesc">
                     Step 4<br/>
                     <small>Logging</small>
                  </span>
                        </a></li>
                    </ul>
                    <div id="step-1">
                        <h2 class="StepTitle">Select a manufacturer</h2>

                        <div class="form-group" style="padding-top: 10px;">
                            <label for="manufacturer">Manufacturer</label>
                            <select class="form-control" id="manufacturer">
                                <option>Huawei</option>
                                <option>Ericsson</option>
                                <option>Juniper</option>
                                <option>Cisco</option>
                                <option>Alcatel ISAM</option>
                            </select>
                        </div>
                    </div>
                    <div id="step-2">
                        <h2 class="StepTitle">Destinations</h2>
                        <form class="form-horizontal" style="padding-top: 10px;">
                            <div class="form-group">
                                <label for="username" class="control-label col-md-1">Username: </label>
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="text" placeholder="Username" id="username" name="username" class="form-control input input-md">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label col-md-1">Password: </label>
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="password" placeholder="Password" id="password" name="password" class="form-control input input-md">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ips" class="control-label col-md-1">IP Addresses: </label>
                                <div class="col-md-offset-1 col-md-9">
                                    <textarea id="ips" class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div id="step-3">
                        <h2 class="StepTitle">Step 3 Title</h2>
                        <!-- step content -->
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">Step 4 Title</h2>
                        <!-- step content -->
                    </div>
                </div>

            </div>
        {% else %}
            <div class="row">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa fa-exclamation-circle fa-5x"></i></div>

                                <div class="huge">No running workers!</div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="{% static 'js/metisMenu.min.js' %}"></script>

<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.min.js' %}"></script>


<script src="{% static 'js/sb-admin-2.js' %}"></script>
<script src="{% static 'js/jquery.smartWizard.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
      // Initialize Smart Wizard
        $('#wizard').smartWizard();
  });
</script>

</body>

</html>

